.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 0 10px;
  height: 35vh;

  .input-fields {
    width: 80%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;

    .input-field {
      margin-top: 10px;
    }
  }

  .search-button {
    margin-top: auto;
    margin-bottom: 20px;
    width: 50%;
  }
}
